<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Invalid</title>
    </head>
    <body>
        <h1>Unauthorized</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Labore, quis voluptatum maiores, quidem vitae alias eius 
            dolore iste possimus ipsum minima et veniam ratione ad unde. 
            Nulla iste perspiciatis inventore.
        </p>
        <a href="/login">Login</a>
    </body>
</html>