.todo-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 90px;
}

.todo-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background: #fff */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
}

.completed{
    text-decoration: line-through;
}

.todo-item-container button{
    margin: 0 10px;
    color: #fff;
    background: #d50350;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 150px;
}

.todo-item-container button:hover{
    cursor: pointer;
}

@media (min-width: 768px){
    .todo-item-container{
        width: 50%;
    }
}