h1::first-line{
    color: red;
    text-decoration: dashed;
    font-size: 30px;
    background-color: pink;
    letter-spacing: 6px;
    text-transform: uppercase;
}

h3::first-letter{
    color: red;
    font-size: 90px;
    letter-spacing: 6px;
    text-transform: capitalize;
}

.container p::first-letter{
    color: purple;
    font-size: 100px;
}