*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}

.child1 {
    background-color: red;
    height: 150px;
    width: 150px;   
}

.child2 {
    background-color: green;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0px;
    left: 50px;
}

.container {
    border: 3px solid black;
    width: 500px;
    position: relative;
}