<link rel="stylesheet" href="../../public/css/nav.css">
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/images">Images</a></li>
        <li><a href="/upload">Upload</a></li>
    </ul>
</nav>