h2 {
    background-color: blue;
    color: white;
    padding: 40px 50px 50px 40px;
    margin: 50px;
}

span {
    background-color: purple;
    color: white;
    width: 90px;
    height: 400px;
    padding-left: 50px;
    padding-right: 40px;
    display: block;
}