<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
    </head>
    <body>
        <%- include('partials/nav')%>
        <!-- nav -->
        <h1>About Us</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Culpa voluptatibus obcaecati quia quisquam vitae dignissimos commodi 
            enim ratione, repudiandae in aliquam veritatis fuga ab illum! Est 
            quam aliquam saepe debitis. Suscipit pariatur necessitatibus neque in 
            similique accusamus consequuntur ducimus.
        </p>
    </body>
</html>