<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <%- include('partials/nav')%>
    <!-- nav -->

    <h1>Welcome <%=user.name%></h1>
    <hr>
    <h1>Your age is: <%=user.age%></h1>
    <hr>
    <h1>Your city is: <%=user.city%></h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, 
        numquam unde aperiam sequi nisi vitae dolorem minima ea, ex, totam 
        in nam voluptas debitis. Voluptatum accusantium incidunt necessitatibus 
        asperiores voluptas?
    </p>
</body>
</html>