<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Fontawesome -->
        <script src="https://kit.fontawesome.com/42a182743f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/accessDenied.css">
        <title>Not Authorize</title>
    </head>
    <body>
        <div class="notAuthorize-wrapper">
            <h1>Not Authorized</h1>
            <!-- not allow icon fontawesome -->
            <i class="fas fa-exclamation"></i>
            <img src="/images/lock.png" alt="Lock Image">

            <p>You are not authorize to access this page</p>
            <a href="/">Go Back</a>
        </div>
    </body>
</html>