/* .title{
    color: blue;
}

h2{
    color: red !important
}

#title{
    color: blueviolet;
} */

.title{
    color: red;
}

.container .title{
    color: green;
}

.container #title{
    color: blueviolet;
}

container h2{
    color: purple;
}