<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/images.css">
        <title>Images</title>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <header>
            <h1>Latest Images</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Excepturi enim asperiores nesciunt optio vero odit earum? 
                Dolore, eveniet iure non autem magni excepturi totam repellendus 
                consequuntur facere error consequatur! Necessitatibus.
            </p>
        </header>
        <div class="image-container">
            <div class="image-card">
                <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Image">
            </div>
            <div class="image-card">
                <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Image">
            </div>
            <div class="image-card">
                <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Image">
            </div>
            <div class="image-card">
                <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                    alt="Image">
            </div>
            <div class="image-card">
                <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                    alt="Image">
            </div>
        </div>
    </body>
</html>